bitsandbytes==0.37.2
accelerate==0.21.0
appdirs
loralib
black
black[jupyter]
datasets
fire
git+https://github.com/huggingface/peft.git@e536616888d51b453ed354a6f1e243fecb02ea08
transformers>=4.31.0
sentencepiece
wandb
scipy
numpy
sentence_transformers
scikit-learn
pandas